{
  "name": "my-app",
  "version": "1.0.0",
  "description": "",
  "main": "app.js",
  "scripts": {
    "start": "node app.js"
  },
  "dependencies": {
    "axios": "^0.21.1",
    "express": "^4.17.1",
    "multer": "^1.4.2",
    "@tensorflow/tfjs-node": "^2.8.2",
    "jpeg-js": "^0.4.2"
  }
}